    A {
        text-decoration: underline;
        cursor: pointer;
        font-family: tahoma;
        color: black;
    }
    A:link {
        text-decoration: underline;
        font-family: tahoma;
        color: black;
    }
    A:visited {
        text-decoration: underline;
        font-family: tahoma;
        color: black;
    }
    A:hover {
        text-decoration: underline;
        background-color: #008080;
        font-family: tahoma;
        color: black;
    }
    A:active {
        text-decoration: underline;
        font-family: tahoma;
        color: black;
    }

	.SMALL_TEXT {
		font-size: .7em;
	}

	.MEDIUM_TEXT {
		font-size: .8em;
	}

	.LARGE_TEXT {
		font-size: 1.1em;
	}

  .DEBUG{
    Opacity: 0.85;
    background-color: #dddddd;
    display: none;
    width: 800px;
    padding: 0px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 0;
  }

  .LOADING_ICON{
    z-index: 4;
    display: none;
    position: absolute;
  }

  .LOGIN{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 0px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 2;
  }

  .WINDOW_BAR{
    Opacity: .99;
    cursor: move;
    background-color: #eeeeee;
    padding: 2px; 
		font-family: tahoma;
		text-align: right;
    color: black;
    display: block;
    border-width: 0px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
  }

  .WINDOW_TITLE{
    Opacity: .99;
		font-family: tahoma;
		text-align: left;
    color: red;
    display: inline;
  }

  .MENU{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 2;
  }

  .INFORMATION{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    width: 300px;
    z-index: 10;
  }

  .MY_SETTINGS{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    width: 400px;
    z-index: 1;
  }

  .MEMBERS_LIST{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 0;
  }

  .MEMBERS_LIST_TABLE{
		font-family: tahoma;
		padding: 2px;
    color: black;
		border-spacing: 0px;
		border: 1px solid #808080;
		border-collapse: collapse;
  }

  .MEMBERS_LIST_TABLE_DATA{
		font-family: times new roman;
		padding: 1px;
    color: black;
		border-spacing: 0px;
		border: 1px solid #808080;
		border-collapse: collapse;
		vertical-align: top;
  }

  .MY_FILMS{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 0;
  }

  .LEND_TO{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .MY_FILMS_TABLE{
		font-family: tahoma;
		padding: 2px;
    color: black;
		border-spacing: 0px;
		border: 1px solid #808080;
		border-collapse: collapse;
  }

  .MY_FILMS_TABLE_DATA{
		font-family: times new roman;
		padding: 1px;
		border-spacing: 0px;
		border: 1px solid #808080;
		border-collapse: collapse;
		vertical-align: top;
  }

  .LEND_TO_TABLE{
		font-family: tahoma;
		padding: 2px;
    color: black;
		border-spacing: 0px;
		border: 1px solid #808080;
		border-collapse: collapse;
  }

  .LEND_TO_TABLE_DATA{
		font-family: times new roman;
		padding: 1px;
		border-spacing: 0px;
		border: 1px solid #808080;
		border-collapse: collapse;
		vertical-align: top;
  }

  .MEMBER_FILMS{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 0;
  }

  .MEMBER_FILMS_TABLE{
		font-family: tahoma;
		padding: 2px;
    color: black;
		border-spacing: 0px;
		border: 1px solid #808080;
		border-collapse: collapse;
  }

  .MEMBER_FILMS_TABLE_DATA{
		font-family: times new roman;
		padding: 1px;
    color: black;
		border-spacing: 0px;
		border: 1px solid #808080;
		border-collapse: collapse;
		vertical-align: top;
  }

  .CONFIGURE_COLUMNS{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    width: 400px;
    z-index: 1;
  }

  .ADD_FILM{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .ADD_MEDIUM{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .ADD_SOUND_MIX{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .ADD_SUBTITLE{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .ADD_GENRE{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .ADD_ASPECT_RATIO{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .ADD_REGION{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .ADD_CAST{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .ADD_TRAILER{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .ADD_LEND_TO{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .ADD_KEYWORD{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .VIEW_CAST{
    Opacity: 0.99;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .VIEW_TRAILER{
    Opacity: 0.99;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .NEW_FILM{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 3;
  }

  .EDIT_FILM{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 3;
  }

  .CREATE_ACCOUNT{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .RETRIEVE_ACCOUNT{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 2px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    z-index: 1;
  }

  .WINDOW{
    Opacity: 0.85;
    background-color: #dddddd;
    padding: 0px; 
    position: absolute;
		font-family: tahoma;
    color: black;
    display: none;
    border-width: 2px;
    border-style: solid;
    border-color: #808080 #808080 #808080 #808080;
    width: 550px;
    top: 140px;
    left: 220px;
    z-index: 0;
  }
	